* {
    
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    background: url(/img/background.png);
}

header {

    width: 100%;
    height: 100px;
    min-height: 100px;
    max-height: 130px;
    
    background: #FFFFFF;
    
    z-index: 999;

    -webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.5);

}

.header {
    height: 100px;
}

main {
    /* margin: 10px 0px 0px 0px;*/
}

section {
    min-height: 450px;
}

footer {
    
    width:100%;
    height: 150px;

    position: relative;
    bottom: 0px;

    background-color:#FFFFFF;
    
    color:#04027CD7;
    
    text-align:center;
    
    padding: 24px;
    
} 


a {
    color: black;
    padding: 8px;
    font-size: 18px; 
}

li {
    margin: 4px;
}

h1 {

}

h2 {
    font-size: 18px;
}

h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 200px;
}

h4 {
    
}

h5 {
    
}

h6 {
    
}

.menu {
    padding: 4px 8px 4px 8px;
    color: black;
    font-size: 18px;
}

.menu:hover {
    color: black;
    background-color: #CDCDCD;
    border-radius: 18px;
}

.button {
    margin-top: 8px;
}

.form {
    margin: 24px 4px 8px 4px;
}

.disabled {
    pointer-events: none;
}






.mobile {
    display: none;
}


/* Intro Section */

.intro-section {
    
    margin: 50px;
    
    background: url('/img/background-banner.png');
    background-repeat: no-repeat;
    background-size: auto 425px;
    background-position: center;

}

.intro2-section {
    margin: 50px;
}


/* Card Section */

.card-section {
    min-height: 600px;
    margin: 8px 0px 0px 0px;
    padding: 50px 0px 50px 0px;
    background: #FFFFFF;
}

.card-body {
    min-height: 495px;
    
}

.card-body:hover {
    min-height: 495px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

.card-icon {
    height: 200px;
    margin: 8px 0px 24px 0px;
}
.card-title {
    font-size: 30px;
    padding: 12px;
    margin: 6px 0px 6px 0px;
}

.card-text {
    margin: 15px 50px 15px 50px;
}

/* Candidature Section */

.candidature-section {
    height: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 30px 0px 0px 0px;
}

.candidature-title {
    
}

/* Information Personelle */ 

.formulaire-perso {
    background: #FFFFFF;

    padding: 24px;
}

/* Footer */

#img_ft {
    width: 20px;
}


.form-input {
    color: #000;
}

.form-input:active {
    color: #000;
}

.form-input:focus {
    color: #000;
}

.red {
    color: #FF0D0D;
}

.back-button {
    background: #FFFFFF;
    color: grey;
    border-color: #FFFFFF;
}

.back-button:hover {
    background: #FFFFFF;
    color: grey;
    border-color: #FFFFFF;
}

.back-button:active {
    background: #FFFFFF;
    color: grey;
    box-shadow: 0 0 0 0.2rem grey;
}

.back-button:active {
    background: #FFFFFF;
    color: grey;
    border-color: #FFFFFF;
}