/* .banner {
    
    position: relative;
    
    background: url('/img/background-banner.png');
    background-size: cover;
    background-position: center;

    min-height: 100vh;

    padding: 250px 0 200px;

} */